@font-face {
  font-family: fuente_hand;
  src: url(../fonts/JustAnotherHand-Regular.ttf) format("truetype");
}
@font-face {
  font-family: fuente_lobster;
  src: url(../fonts/Lobster-Regular.ttf) format("truetype");
}
@font-face {
  font-family: fuente_ribeye;
  src: url(../fonts/RibeyeMarrow-Regular.ttf) format("truetype");
}
body {
  background-color: #ccac4d;
}
h1 {
  font-family: fuente_ribeye;
  font-size: 3rem;
  letter-spacing: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}
p.intro {
  margin-left: 30%;
  margin-right: 30%;
  font-family: sans-serif;
  line-height: 200%;
  text-align: center;
}
cite {
  text-decoration: underline;
}
p.latin {
  margin-top: 0rem;
  margin-bottom: 3rem;
  margin-right: 0%;
  margin-left: 0%;
  font-family: fuente_lobster;
  font-size: 2.5rem;
}
p.español {
  margin-top: 0rem;
  margin-bottom: 3rem;
  margin-right: 0%;
  margin-left: 0%;
  color: white;
  font-family: fuente_hand;
  font-size: 3.5rem;
  letter-spacing: 1px;
  text-align: right;
}
