body {font-family: 'Courier New', Courier, monospace;}
#parrafo1 {background-color: grey;}
.especial {color: blue;}

h2 {border-style: solid; border-color: orange; border-style: 1px;}
h3 {border-style: solid; border-color: orange; border-style: 1px;}

ul {color: red;}
ul ul {color: green;}

.Antes {background-color: pink;}
.Despues {background-color: blue;}